{% block header %}
{% load static %}
    <!-- Header Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-light" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-light" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-light" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-light px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-light px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-light px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-light px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-light px-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="{% url 'index' %}"  class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold">
                            <img src="{% static 'images\logo\Bihonno-1.ico' %}" alt="logo" height="80px" width="80px"/>
                        </span>
                        <img src="{% static 'images\logo\Websitelogo1.png' %}" alt="logo" height="80px" width="250px"/>
                    </h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="{% url 'shoppingCart' %}" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge text-dark">Cart</span>
                    <small class="badge badge-warning">{{request.session.cart.keys|length}}</small>
                </a>
                
                <a href="{% url 'login' %}" class="btn border">
                    <i class="fas fa-sign-in-alt text-primary"></i>
                    <span class="badge text-dark">Login</span>
                </a>
                <a href="{% url 'registration' %}" class="btn border">
                    <i class="fas fa-clipboard-list text-primary"></i>
                    <span class="badge text-dark">Join Us</span>
                </a>
            </div>
        </div>
        <!-- Header End -->

        <!-- Navbar Start -->
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 5px">
            <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0 px-0">
                <a href='' class="text-decoration-none d-block d-lg-none">
                    <img src="{% static 'images\logo\Websitelogo1.png' %}" alt="logo" height="80px" width="250px"/>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        {% if request.path == '/' %}
                            <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                        {% else %}
                            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                        {% endif %}

                        {% if request.path == '/shop' %}
                            <a href="{% url 'shop' %}" class="nav-item nav-link active">Shop</a>
                        {% else %}
                            <a href="{% url 'shop' %}" class="nav-item nav-link">Shop</a>
                        {% endif %}

                        <div class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                {% for Categories in Category %}
                                <a href='?Categories={{Categories.id}}' class="nav-item nav-link text-primary">{{Categories.name}}'s</a>
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{% url 'shopDetail' %}" class="nav-item nav-link ">Shop Details</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link ">Contact</a>
                        <a href="{% url 'shoppingCart' %}" class="nav-item nav-link ">Shopping Cart</a>
                        <a href="{% url 'checkout' %}" class="nav-item nav-link ">Checkout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

{% endblock %}