{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-9 pb-5">
            <h1 class="mb-3 text-info border-bottom">Additional Information</h1>
            <p>BIHONNO, the High-End Retailer, is one of the fastest-growing lifestyle brands in Asia and the Middle East. 
                BIHONNO's pioneering and sublime artistic explorations are guided by an ambition to rise globally as the market leader in high-end retail. 
                The novelty of our design innovations is essentially defined by our relentless pursuit of seeking the best for our customers. 
                BIHONNO has set a high standard for what can be achieved through dedication, diligence, and a firm resolution to bring the best to our customers.
            </p>
    
            <p>As a customer-centric, technology-driven, and visionary brand, BIHONNO has been tirelessly working to provide customers with high-end products 
                and services that are second to none.
            </p>
            <p>The term "BIHONNO" means the highest of the high and refers to the rank of the best believers or the place in heaven where these believers reside. 
                We are committed to living up to this name in everything we do.
            </p>

            <p>'BIHONNO' is an Arabic word with no short forms, and ILYN is a sub-brand of BIHONNO. In essence, ILYN embodies the spirit and energy of the 
                world of tomorrow. ILYN creates forward-thinking and dynamic design concepts that are featured in the brand's wide-ranging product lines.
            </p>


            <h3 >Quality Product</h3>
            <p>As a customer-centric, technology-driven, and visionary brand, BIHONNO has been tirelessly working to provide customers with high-end products 
                and services that are second to none.
            </p>

            <h3 >Free Shipping</h3>
            <p>As a customer-centric, technology-driven, and visionary brand, BIHONNO has been tirelessly working to provide customers with high-end products 
                and services that are second to none.
            </p>

            <h3 >14-Day Return</h3>
            <p>As a customer-centric, technology-driven, and visionary brand, BIHONNO has been tirelessly working to provide customers with high-end products 
                and services that are second to none.
            </p>

            <h3 >24/7 Support</h3>
            <p>As a customer-centric, technology-driven, and visionary brand, BIHONNO has been tirelessly working to provide customers with high-end products 
                and services that are second to none.
            </p>
            
        </div>
        <div class="col-lg-3 pb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                </li>
                <li class="list-group-item px-0">
                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                </li>
                <li class="list-group-item px-0">
                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                </li>
                <li class="list-group-item px-0">
                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                </li>
            </ul>
        </div>
    </div>

    <div class="row px-lg-5 pb-5">
        <div class="col-lg-3 pb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                </li>
                <li class="list-group-item px-0">
                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                </li>
                <li class="list-group-item px-0">
                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                </li>
                <li class="list-group-item px-0">
                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                </li>
            </ul> 
        </div>
        
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                </li>
                <li class="list-group-item px-0">
                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                </li>
                <li class="list-group-item px-0">
                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                </li>
                <li class="list-group-item px-0">
                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                </li>
            </ul> 
        </div> 
    </div>
</div>
{% include 'itemsuggestion.html' %}
{% endblock %}
